{% extends "::base.html.twig" %}

{% trans_default_domain translation_domain %}

{% block head_style %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/back/layout.css') }}" type="text/css">
{% endblock %}

{% block stylesheets -%}
    <link rel="stylesheet" href="{{ asset('css/main_back.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ asset('css/layout.css') }}" type="text/css">


    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-switch.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-multiselect.css') }}" type="text/css">
{%- endblock %}

{% block foot_script %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{ path('back_homepage') }}">
                    <img class="img-responsive tip-bottom" src="/bundles/pfdback/images/logo-header.png" alt="{% trans %} Back title {% endtrans %}" title="Backend Broadcast" />
                </a>
            </div>
        </div>
    </div>
{% endblock navbar %}

{% block breadcrumb '' %}

{% block content %}
    <section class="content col-xs-12">
        <div class="row">
            {% block content_menu '' %}

            {% block content_body %}{% endblock content_body %}
        </div>
    </section>
{% endblock content %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% set contract_set_config = {} %}

    <script src="{{ asset('js/bootstrap-switch.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('js/jquery.checkboxes.js') }}"></script>
    <script src="{{ asset('js/jquery.fileDownload.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}