{% extends "AppBundle:Back:layout.html.twig" %}

{% trans_default_domain 'back_products' %}

{% set openFilters = app.request.query.has('filter_open') %}

{% block container_class %}{{ parent() }} list_products {% endblock container_class %}

{% block headline %}{{ 'list'|trans }}{% endblock headline %}

{% block header_actions %}
    <button
            class="btn btn-{% if openFilters %}default{% else %}primary{% endif %} filter-button tip-bottom"
            type="button"
            title="{{ 'tooltip.show-hide'|trans }}"
            >
        <i class="fa fa-search"></i> {{ 'search'|trans({}, 'back') }}
    </button>

    <a
            class="btn btn-primary tip-bottom"
            href="{{ path('back_product_create') }}"
            title="{{ 'tooltip.create'|trans }}"
            >
        <i class="fa fa-product"></i> {{ 'buttons.create'|trans }}
    </a>
{% endblock header_actions %}

{% block content_body %}

    <div class="list-filter well"{% if openFilters %} style="display: block;"{% else %} style="display: none;"{% endif %}>
        <div class="pane-title">
            {{ 'search.title'|trans }}
        </div>

        {{ form_start(filter_form, {'action': url('back_products_list'), 'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-xs-4">
                {{ form_row(filter_form.name) }}
            </div>
            <div class="col-xs-4">
                {{ form_row(filter_form.price) }}
            </div>
            <div class="col-xs-4">
                {{ form_row(filter_form.productType) }}
            </div>
        </div>
        <div class="margin-top-5 text-center">
            <div class="btn-group">
                <button
                        type="submit"
                        class="btn btn-primary no-float tip-bottom"
                        title="{{ 'tooltip.search_submit'|trans }}"
                        >
                    <i class="glyphicon glyphicon-search"></i> {{ 'search.submit'|trans }}
                </button>
                <a
                        class="btn btn-default no-float tip-bottom"
                        href="{{ path('back_products_list') }}"
                        title="{{ 'tooltip.search_reset'|trans }}"
                        >
                    <i class="fa fa-times"></i> {{ 'search.reset'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(filter_form) }}
    </div>

    <p class="h4">{{ 'results'|transchoice(products.getTotalItemCount, {}, 'back') }}</p>

    {% if (products|length > 0) %}
        <table class="table table-condensed table-bordered table-back">
            <thead>
            <tr>
                <th>{{ 'product.headers.name'|trans }}</th>
                <th>{{ 'product.headers.price'|trans }}</th>
                <th>{{ 'product.headers.productType'|trans }}</th>
                <th>{{ 'product.headers.stock'|trans }}</th>
                <th class="actions form-flow-actions">{{ 'actions'|trans({}, 'back') }}</th>
            </tr>
            </thead>
            <tbody id="product-list">
            {% for product in products %}
                <tr id="product-id-{{ product.id }}" data-product-id="{{ product.id }}">
                    <td class="vertical-align-middle">
                        <a href="{{ url('back_product_update', {'productId': product.id}) }}">{{ product.name }}</a>
                    </td>
                    <td class="vertical-align-middle">
                        {{ product.price ~ " " ~ currency }}
                    </td>
                    <td class="vertical-align-middle">
                        {{ product.product_type.name }}
                    </td>
                    <td class="vertical-align-middle">
                        {{ product.stock.quantity }}
                    </td>
                    <td class="form-flow-actions vertical-align-middle actions">
                        <a href="#" title="Paramétrer" data-toggle="dropdown" class="dropdown-toggle tip-left" aria-expanded="false">
                            <i class="fa fa-gears fa-2x"></i>
                        </a>

                        {% set product_menu = knp_menu_get('AppBundle:Builder:productMenu', [], {'productId': product.id, 'view': 'dropdown-menu'}) %}
                        {{ knp_menu_render(product_menu, {'template': 'AppBundle:Back/Templating:app_knp_menu.html.twig'}) }}

                        <a id="open-product-delete-modal" class="tip-top" title="{{ 'delete'|trans }}" href="#" data-href="{{ url('back_product_delete', {'productId': product.id}) }}" data-toggle="modal" data-target="#product-confirm-delete">
                            <i class="fa fa-trash-o fa-1-5x text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="product-confirm-delete" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="h4 modal-title">
                            {{ 'sure'|trans({}, 'back') }}
                        </p>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'confirm_delete'|trans({}, 'back')|raw }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                            <i class="fa fa-times-circle"></i>
                            {{ 'cancel'|trans({}, 'back') }}
                        </button>
                        <a class="btn btn-danger" id="modal-delete-product-button">
                            <i class="fa fa-trash"></i>
                            {{ 'delete_modal.confirm'|trans({}, 'back') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(products) }}
        </div>
    {% endif %}
{% endblock content_body %}

{% block sidebarWrapper '' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/products.js') }}"></script>
{% endblock %}