{% extends "AppBundle:Back:layout.html.twig" %}

{% trans_default_domain 'back_users' %}

{% block container_class %}{{ parent() }} create_user {% endblock container_class %}

{% block headline %}{{ 'create'|trans }}{% endblock headline %}

{% block content_body %}
    {{ form_start(form, {
        'action': url('back_user_create'),
        'attr': {
            'novalidate': 'novalidate',
            'data-form-notification-exit': true
        }
    }) }}
    <div class="row">
        <div class="col-xs-4">
            <div class="well">
                <fieldset>
                    <legend>{{ 'form.legend.login'|trans }}</legend>

                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                </fieldset>
            </div>

            <div class="well">
                <fieldset>
                    <legend>{{ 'form.legend.setting'|trans }}</legend>

                    {{ form_row(form.active, {'attr': {'data-action': 'checkbox-switch'}}) }}
                    {{ form_row(form.role, {
                        'attr': {
                            'class': 'multiselect',
                            'data-multiselect-no-filtering': true
                        }
                    }) }}
                </fieldset>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="well">
                <fieldset>
                    <legend>{{ 'form.legend.profile'|trans }}</legend>

                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.birthdate, {'attr': {'class': 'date_picker'}}) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.address) }}
                </fieldset>
            </div>
        </div>
    </div>

    <div class="margin-top-30">
        <div class="well">
            <button type="submit" name="create_and_edit" class="btn btn-primary" data-disable-after-click="true">
                <i class="fa fa-save"></i>
                {{ 'form.create_and_edit'|trans({}, 'back') }}
            </button>
            <button type="submit" name="create_and_list" class="btn btn-primary" data-disable-after-click="true">
                <i class="fa fa-save"></i>
                <i class="fa fa-list"></i>
                {{ 'form.create_and_list'|trans({}, 'back') }}
            </button>
            {{ 'form.or'|trans({}, 'back') }}
            <a href="{{ url('back_users_list') }}" class="btn btn-default">
                <i class="fa fa-times-circle"></i>
                {{ 'form.cancel'|trans({}, 'back') }}
            </a>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock content_body %}

{% block sidebarWrapper '' %}